name: Django CD (SSH)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            git pull origin main
            source ../venv/bin/activate    
            sudo supervisorctl restart mnf_gunicorn_taj1
# pip install -r requirements.txt
# python manage.py migrate --noinput
# python manage.py collectstatic --noinput