name: Django CI

on: [push,workflow_dispatch]
  # pull_request:
  #   branches: [ "main" ]
  # push:
  #   branches: [ "develop" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Django checks
        run: |
          python manage.py check
          python manage.py makemigrations --check --dry-run
          python manage.py test
